<div class="experience-list">
  {% for item in site.data.other-experience-data %}
  <article class="experience-item">
    <div class="experience-header">
      <img src="{{ item.logo }}" class="experience-logo experience-logo-lg" alt="" />
      <div class="experience-meta">
        <h3 class="experience-place">{{ item.place }}</h3>
        <p class="experience-position">{{ item.position }}</p>
        <p class="experience-date">{{ item.from }} - {{ item.to }}</p>
      </div>
    </div>
    {% if item.description %}
    <p class="experience-desc">{{ item.description }}</p>
    {% endif %}
  </article>
  {% endfor %}
</div>
