<!-- Collect tags from all posts -->
{%- assign tags = blank -%}
{%- for post in site.posts -%}
  {%- assign post_tags = post.tags | join:'|' | append:'|' -%}
  {%- if post_tags != '|' -%}
    {%- assign tags = tags | append:post_tags -%}
  {%- endif -%}
{%- endfor -%}
{%- assign tags = tags | split:'|' | uniq | sort -%}

<!-- List tags & related posts -->
{% for tag in tags %}
<div class="tags-section">
  <h4 id="{{ tag | slugify }}">{{ tag }}</h4>
  <ul class="tags-posts">
  {% for post in site.posts %}
    {%- if post.tags contains tag -%}
      {%- if post.external_url -%}
        {%- assign url = post.external_url -%}
      {%- else -%}
        {%- assign url = post.url | relative_url -%}
      {%- endif -%}
    <li><a href="{{ url }}">{{ post.title }}</a> <span class="tags-date">{{ post.date | date_to_long_string }}</span></li>
    {%- endif -%}
  {% endfor %}
  </ul>
</div>
<hr class="tags-hr">
{% endfor %}